<div ng-controller="addStudentEditCtrl">
<md-content flex layout-padding  >
   <md-card>
      <md-card-content>
         <md-content class="autoScroll"  >
               <md-input-container class="md-block">
                  <i class="fa fa-text-width  iconInput"></i>
                  <input ng-model="fisrtName" type="text" placeholder="Nombre" ng-required="true" class="sytleInput">
               </md-input-container>
               <md-input-container class="md-block">
                  <i class="fa fa-text-width  iconInput"></i>
                  <input ng-model="lastName" type="text" placeholder="Apellido" ng-required="true" class="sytleInput">
               </md-input-container>
         <md-input-container>
            <label style="color: rgb(255, 255, 255); !important">Equipo</label>
            <md-select ng-model="userTeamE" style="width: 592px !important;max-width: 594px;">
               <md-option  ng-repeat="equipo in team" value="{{equipo._id}}" >
                  {{equipo.nombre}}
               </md-option>
            </md-select>
         </md-input-container>

         <md-input-container >
            <label style="color: rgb(255, 255, 255); !important">Genero</label>
            <md-select ng-model="userGenderE" style="width: 592px !important; max-width: 594px;">
               <md-option ng-repeat="genero in generos" value="{{genero._id}}">
                  {{genero.nombre}}
               </md-option>
            </md-select>
         </md-input-container>
            <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
               <md-datepicker style = "margin-left: -13px !important; margin-top: 18px !important;" ng-model="dateBirthday" md-placeholder="Fecha de Nacimiento" >
               </md-datepicker>
            </md-content>
         </md-content>
         <span ng-show ="showMessage" class="messageLogin">{{message}}</span>
         <md-button class="btnAdd" ng-click="studentEdit()" >Editar</md-button>
         <md-button class="btnAdd" ng-click="cancel()" >Cancelar</md-button>
      </md-card-content>
   </md-card>
</md-content>
</div>