<div ng-controller="viewEventTimeCtrl"  >
   <md-content flex layout-padding  >
      <md-card>
         <md-card-content>
            <div flex="25" flex-gt-sm="50" layout="column">
               <div>
                  <fieldset class="standard" style ="width: 500px;"  >
                     <legend> <code>Atletas del evento </code> <code style="font-weight: 600;">{{nombre}}</code></legend>
                     <div layout="column" layout-wrap >
                        <span >
                           <div id = "tiempos">
                           </div>
                        </span>
                     </div>
                  </fieldset>
               </div>
            </div>
   </md-content>
   <md-button class="btnAdd" ng-click="tiempos()" >ver tiempos</md-button>
   <md-button class="btnAdd" ng-click="cancel()" >Cancelar</md-button>
   <md-button class="btnAdd" ng-click="load()" >Descargar</md-button>
   </md-card-content>
   </md-card>
   </md-content>
</div>
